@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

/*GENERAL EDITS*/

:root{
    --image-width: 32vw;
    --text-color: lightgrey;
    --second-color: darkslategray;
    font-family: "Times New Roman", sans-serif;
    height: 100vh;
}

a:visited.credit,a:link.credit{
    color: var(--text-color);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    height: 100%;
    /*overflow: hidden;*/
    background-color: #F2F2F2;
}

/*LEFT SIDE*/
.left-side{
    height: 100vh;
}

.image{
    width: var(--image-width);
    height: 100vh;
    max-height: 100%;
    display: block;
}

.photo-credit{
    position: absolute;
    margin-top: -150px;
    margin-left: 9vw;
    width: min(20vw, 250px);
    color: var(--text-color);
    font-weight: bold;
}

.logoDiv{
    position: absolute;
    margin-top: -625px;
    margin-left: 0;
    background-color: white;
    opacity: 50%;
    width: 32vw;
    height: 250px;
}

.logoImage{
    position: absolute;
    color: white;
    width: min(20vw, 300px);
    height: 200px;
    margin-top: -74vh;
    /*margin-left: -32vw;*/
}


.logoText{
    position: absolute;
    margin-top: -530px;
    margin-left: 15vw;
    font-size: 3rem;
    width: min(15vw, 300px);
    overflow: clip;
    font-weight: bold;
    letter-spacing: 0.01vw;
}

/*RIGHT SIDE*/

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 80px;
}

.text-section{
    margin-top: 100px;
    font-size: 1.5rem;
    margin-right: 150px;
    margin-left: 75px;
    font-weight: bolder;
    font-family: 'Sofia Sans', sans-serif;
    font-style: italic;
}

.background-form{
    background-color: white;
    box-shadow: 0 15px 25px -5px gray;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-left: -75px;
    margin-bottom: 50px;
}

.form-div{
    margin-left: 75px;
}

.form-group{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: small;
}

.form-divider{
    display: flex;
    flex-direction: row;
    column-gap: 75px;
    flex-wrap: wrap;
}

.form-flex{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.form-text{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Sofia Sans', sans-serif;
}

label{
    font-family: Rowdies, sans-serif;
}

input{
    border-radius: 5px;
    border: 2px solid gray;
    height: 25px;
    padding: 2px;
}

.form-button{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--second-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    transition: all 0.8s ease-in-out;
}

.form-button:hover{
    cursor: pointer;
    transform: scale(1.2) perspective(1px) rotate(1deg);
}

.form-text-bottom{
    font-weight: bold;
}

.logIn{
    color: var(--second-color);
    text-decoration: none;
}

input:focus {
    outline: none !important;
    border-color: cadetblue !important;
    box-shadow: 2px 2px 2px gray;
}

.error{
    color: red;
}